body {
  font-family: "Raleway", sans-serif; }

h1, h2, h3 {
  font-family: "Righteous", cursive; }

h2 {
  color: #3046C5; }

header h2 {
  color: #bc4749; }

.navbar {
  background-color: #162719; }

footer {
  background-color: #162719;
  padding: 20px 0; }

.jumbotron {
  padding: 30px;
  background-color: #fbf7ef;
  color: #162719; }

div .discover-content {
  padding-top: 30px; }
