$color-primary: #3046C5;
$color-pale-green: rgba(190, 215, 132, 1);
$color-pale:  rgba(251, 247, 239, 1);
$color-mid: #bc4749;;
$color-dark: rgba(22, 39, 25, 1);
$color-black-transparent: rgba(0, 0, 0, 0.5);

//Font Style
$body-font: "Raleway", sans-serif;
$header-font: "Righteous", cursive;

// Font Size
$fontsize-small: 9px;
$fontsize-medium: 12px;

// Font Weight
$font-medium: 500;
$font-bold: 900;

// Main Element Css
body {
    font-family: $body-font;
    background-color: $color-pale;
}

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $color-dark;
}

header {
    h1 {
        color: $color-pale;
    }
    h2 {
        color: $color-mid;
    }
}

// Navigation Css
.navbar {
    background-color: rgba(22, 39, 25, 1);
    padding-top: 15px;
    padding-bottom: 15px;
    li {
            font-weight: $font-bold;
            font-size: $fontsize-medium;
            color: white;
    }
    .btn {
        border-radius: unset;
        color: lightgrey;
        border-color: lightgray;
        font-size: $fontsize-medium;
    }
    .btn:hover {
        border-color: $color-mid;
        color: $color-mid;
        background-color: $color-pale;
    }

}

.jumbotron {
    background-image: linear-gradient(to bottom, rgba(22, 39, 25,0.6) 0%,rgba(22, 39, 25, 0.9) 100%), url("../img/blackboard.jpg");
}

// Discover Navigation Row
.discover-navigation {
    input {
        border-radius: unset;
        border-color: lightgray;
        font-size: $fontsize-medium;
        background-color: white;
    }
    button {
        background-color: white;
        border-radius: unset;
        border-color: lightgray;
        color: darkgray;
        font-size: $fontsize-medium;
    }
    .dropdown-menu {
        border-radius: unset;
        background-color: white;
    }
    .dropdown-item {
        color: gray;
        font-size: $fontsize-medium;
        background-color: white;
    }
    button:hover {
        color:$color-mid;
        background-color: $color-pale;
        border-color: $color-mid;
    }
}

// Discover Content Search Fields

.discover-content {
    .col-2 {
        margin-right: 20px;
    }
}

.discover-content-fields {
    h5 {
        font-weight: bold;
        color: $color-dark;
        padding-top: 16px;
    }
    .card {
        border-radius: unset;
        font-size: $fontsize-medium;
        color: darkgray;
    }
    .list-group-item {
        padding: .50rem 1rem;
    }
    .list-group-item:hover {
        color:$color-mid;
        background-color: $color-pale;
        border-color: $color-mid;
    }
    button {
        background-color: white;
        border-radius: unset;
        border-color: lightgray;
        color: darkgray;
        font-size: $fontsize-medium;
        margin: 2.5px;
    }
    button:hover {
        color:$color-mid;
        background-color: $color-pale;
        border-color: $color-mid;
    }
}

.discover-card-content {
    .row {
        padding-top: 16px;
    }
}
.discover-card {
        img {
            height: 120px;
            max-height: 190px;
        }
        border-radius: unset;
        a {
        text-decoration: none;
        }
        a:hover {
            color: $color-mid;
        }
        margin-bottom: 1.25rem;
        h5 {
            color: $color-dark;
            font-weight: $font-medium;
        }
        h5:hover {
            color: $color-mid;
        }
        .card-title {
                margin-bottom: 0.25rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;   
        }
        .card-body {
            padding: 0.5rem 1.25rem 0.25rem 1.25rem;
        }
        hr {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
        p {
            font-size: $fontsize-medium;
            color: $color-dark;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;   
            margin-bottom: 0;
        }
        .card-footer {
            padding: .5rem;
            ul {
                margin: 0rem;
            }
            li:hover {
                color: $color-mid;
            }
        }
        #creator-link {
            font-size: $fontsize-medium;
            color: $color-dark;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;   
        }
        #creator-link:hover {
            color: $color-mid;
        }
        .d-inline {
            margin-bottom: 0.5rem
        }
    }
footer {
    background-color: rgba(22, 39, 25, 1);
    padding: 20px 0;
}


